/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
}
/* CSS VARIABLES */
:root{
    --navbar-height:59px;
    
}
/*NAVIGATION BAR */
#navbar{
    display: flex;
    align-items: center;
}
#navbar::before{
    content:"";
    background-color: rgb(26, 20, 20);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
/*NAVIGATION BAR : Logo and image*/
#logo{
    margin: 10px 20px;
}
#logo img{
    height: 5px;
    margin: 10px 20px;
    
    
}
/*NAVIGATION BAR : List styling */
#navbar{
    position: relative;


}
#navbar ul{
    display:flex;
    font-family:sans-serif;

}

#navbar ul li{
    
    list-style:none ;
    font-size: 1.3rem;
}
#navbar ul li a{
    color:white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/*Home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 400px;

}
#home::before{
    content:"";
    background:url('../bg.jpeg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: rgb(255, 223, 223);
    text-align: center;
    font-family: sans-serif;

}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
}

/* utility classes*/

.h-primary{
  font-size: 3.8rem;
  padding: 12px;
}
.btn{
    all: unset;
    background-color: blueviolet;
    color: aqua;
    font-size: 30px;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 40px;
}